<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Another Password Generator 🔑</title>
  <meta name="description"
    content="Generate strong and unique passwords online. Choose the length, character types and advanced options to create perfect passwords for you. No registration required, easy to use and completely free." />
  <meta property="og:title" content="Online Password Generator" />
  <meta property="og:description"
    content="Generate strong and unique passwords online. Choose the length, character types and advanced options to create perfect passwords for you. No registration required, easy to use and completely free." />
  <meta property="og:image" content="https://www.example.com/image.png" />
  <meta property="og:url" content="https://www.example.com" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <meta name="theme-color" content="#222222" />
</head>

<body style="display: none">
  <div id="notification" class="notification is-invisible">
    <button class="delete"></button>
    <p><strong>Password copied to clipboard!</strong></p>
    <p><strong>Remember</strong>: Don't paste your password anywhere suspicious. For maximum security, consider using a
      password manager to securely store your passwords.</p>
  </div>

  <div class="container">
    <section class="section">
      <div class="columns is-fullheight is-align-items-center is-justify-content-center">
        <!-- SETTINGS -->
        <div class="column is-5">
          <section class="is-relative box section pwd has-background-light">
            <div class="">
              <div class="pwd-container">
                <div class="is-owerflow-auto">
                  <div id="pwd-generated" class="pwd-generated"></div>
                </div>
                <div class="actions">
                  <div id="action-redo" class="action redo is-clickable">
                    <i class="fas fa-redo-alt"></i>
                  </div>
                  <div id="action-copy-to-clipboard" class="action clipboard is-clickable">
                    <i class="fas fa-clipboard"></i>
                  </div>
                </div>
              </div>
            </div>
            <progress id="pwd-strength" class="progress" value="100" max="100"></progress>
          </section>
          <div class="box">
            <h4 class="subtitle is-4"><i class="fas fa-cog"></i> Settings</h4>
            <div class="columns is-vcentered">
              <div class="column">
                Password Length
                <span id="settings-password-length-display"
                  class="is-size-4 has-text-link has-text-weight-bold">16</span>
              </div>
              <div class="column">
                <input id="settings-password-length" type="range" name="settings-password-length" min="0" max="128"
                  value="16" step="8" class="setting-element" />
              </div>
            </div>

            <div class="columns is-gapless">
              <div class="column is-4">
                <label class="radio has-text-weight-bold has-background-light p-4 is-fullwidth">
                  <input type="radio" class="setting-pwd-mode" name="pwd-mode" value="all-characters" checked />
                  All characters
                </label>
              </div>
              <div class="column is-4">
                <label class="radio has-text-weight-bold has-background-light p-4 is-fullwidth">
                  <input type="radio" class="setting-pwd-mode" name="pwd-mode" value="easy-to-read" />
                  Easy to read
                </label>
              </div>
              <div class="column is-4">
                <label class="radio has-text-weight-bold has-background-light p-4 is-fullwidth">
                  <input type="radio" class="setting-pwd-mode" name="pwd-mode" value="easy-to-say" />
                  Easy to say
                </label>
              </div>
            </div>

            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-allow-numbers" type="checkbox" class="setting-element" checked />
                  <span class="toggle"></span>
                  Allow Numbers (0-9)
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-allow-uppercase" type="checkbox" class="setting-element" checked />
                  <span class="toggle"></span>
                  Allow Uppercase (ABC)
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-allow-lowercase" type="checkbox" class="setting-element" checked />
                  <span class="toggle"></span>
                  Allow Lowercase (abc)
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-allow-symbols" type="checkbox" class="setting-element" checked />
                  <span class="toggle"></span>
                  Allow Symbols (<span id="settings-allow-symbols-list"></span>)
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-exclude-duplicate-characters" type="checkbox" class="setting-element" />
                  <span class="toggle"></span>
                  Exclude Duplicate Characters
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column py-1">
                <label class="checkbox">
                  <input id="settings-exclude-similar-characters" type="checkbox" class="setting-element" />
                  <span class="toggle"></span>
                  Exclude Similar (iI1loO0)
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-6 is-offset-1">
          <div class="content">
            <h1 class="title is-3 mb-6">Stronger Passwords, One Click Away!</h1>
            <h2 class="subtitle is-5">Generate secure, unique passwords for all your accounts.</h2>
            <h4>Why Secure Passwords Matter?</h4>
            <p class="">Imagine your passwords are the keys to your online life. Weak passwords, like
              "password123," are easy to guess or crack, leaving your accounts vulnerable. Here's why secure passwords
              are crucial:</p>
            <ul class="">
              <li><strong>Block Hackers</strong>: Strong passwords make it much harder for hackers to break into your
                accounts. They act as a complex barrier, taking significant time and resources to guess.</li>
              <li><strong>Protect Your Data</strong>: Secure passwords safeguard your personal information, photos,
                messages, and financial details stored online.</li>
              <li><strong>Prevent Identity Theft</strong>: Strong passwords help prevent identity theft, where someone
                steals your personal information to commit fraud.</li>
              <li><strong>Maintain Control</strong>: Using secure passwords empowers you to control who accesses your
                online accounts.</li>
            </ul>
            <p class="">
              <strong>Think of it like this</strong>: A flimsy lock is easy to break, but a strong one offers real
              security. Apply the same logic to your passwords and choose complex combinations to keep your digital life
              safe!
            </p>
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer> -->
</body>

</html>