@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$secondaryColor: #a89d91;
$primaryColor: #485fc7;
$backgroundColor: #ffffff;
$backgroundColorLight: #f5f5f5;


$textColor: #444;

$colorDanger: #f14668;
$colorWarning: #ffe08a;
$colorInfo: #3e8ed0;
$colorSuccess: #48c78e;

:root {
    --selection-color-danger: #f14668;
    --selection-color-warning: #ffe08a;
    --selection-color-info: #3e8ed0;
    --selection-color-success: #48c78e;

    --active-color: var(--selection-color-success)
}

::selection {
    color: $backgroundColor;
    background-color: var(--active-color);
    border-radius: 4px;
}

html,
body {
    color: $textColor;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: $backgroundColor;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &.is-danger {
        --active-color: var(--selection-color-danger);
    }

    &.is-warning {
        --active-color: var(--selection-color-warning);
    }

    &.is-info {
        --active-color: var(--selection-color-info);
    }

    &.is-success {
        --active-color: var(--selection-color-success);
    }
}

.title,
.subtitle {
    font-family: "Kode Mono", monospace;
    color: inherit;
}

.section {
    padding: 2rem 2rem;
}

.is-fullheight {
    min-height: 100vh;
}

.is-fullwidth {
    min-width: 100%;
}

.notification {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffe645;
    opacity: 1;
    z-index: 100;
    box-shadow: 0 0 10px $textColor;

    transition:
        visibility 0s,
        opacity 0.3s linear;

    &.is-invisible {
        opacity: 0;
    }
}

#pwd-type-selector-tab {
    margin-bottom: 0;

    ul {
        border-bottom-width: 0;
    }
}

#pwd-settings-box {
    min-height: 362px;
}

.tabs li {

    &.is-active {
        a {
            font-weight: bold;
            color: var(--active-color);
            border-bottom-color: var(--active-color);

            &:hover {
                text-shadow: none;
                border-bottom-width: 2px;
                border-bottom-color: var(--active-color);
            }
        }
    }

    a {
        margin-bottom: 0px;
        border-bottom-width: 2px;
        border-bottom-color: transparent;
        color: $secondaryColor;

        &:hover {
            text-shadow: var(--active-color) 1px 0 10px;
            border-bottom-width: 2px;
            border-bottom-color: transparent;
        }
    }
}


#pwd-strength-tagbox {
    position: absolute;
    bottom: 2px;
    left: 0px;
    border-top-right-radius: 6px;
}

#pwd-actions-box {
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 0px;

    .action {
        padding: 0 .3rem;
        color: var(--active-color);

        &:hover {
            color: var(--active-color);
            text-shadow: 0 0 5px var(--active-color);
        }
    }
}

#pwd-strength {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 2px;
}

.pwd-container {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;


    &.is-danger {
        ::selection {
            background-color: var(--active-color);
        }
    }

    &.is-warning {
        ::selection {
            background-color: var(--active-color);
        }
    }

    &.is-info {
        ::selection {
            background-color: var(--active-color);
        }
    }

    &.is-success {
        ::selection {
            background-color: var(--active-color);
        }
    }

    ::selection {
        color: $backgroundColor;
        background-color: var(--active-color);
        border-radius: 4px;
    }
}


#settings-password-length {
    width: 64px;
}

#settings-password-length-range {
    width: 100%;
    /* Rimuove lo stile di default su WebKit */
    -webkit-appearance: none;
    appearance: none;

    &:hover {
        opacity: 1;
    }

    /* Stile del cursore per Chrome, Safari, Edge */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -5px;
        width: 10px;
        height: 20px;
        background: $textColor;
        /* Colore del cursore */
        border-radius: 50%;
        cursor: pointer;
    }

    /* Stile della barra per Chrome, Safari, Edge */
    &::-webkit-slider-runnable-track {
        background: var(--active-color);
        height: 8px;
        border-radius: 10px;
    }

    /* Stile per Firefox */
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: var(--active-color);
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-track {
        background: var(--active-color);
        height: 8px;
        border-radius: 10px;
    }
}

#settings-passphrase-length-range {
    width: 100%;
    /* Rimuove lo stile di default su WebKit */
    -webkit-appearance: none;
    appearance: none;

    &:hover {
        opacity: 1;
    }

    /* Stile del cursore per Chrome, Safari, Edge */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -5px;
        width: 10px;
        height: 20px;
        background: $textColor;
        /* Colore del cursore */
        border-radius: 50%;
        cursor: pointer;
    }

    /* Stile della barra per Chrome, Safari, Edge */
    &::-webkit-slider-runnable-track {
        background: var(--active-color);
        height: 8px;
        border-radius: 10px;
    }

    /* Stile per Firefox */
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: var(--active-color);
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-track {
        background: var(--active-color);
        height: 8px;
        border-radius: 10px;
    }
}

.settings-container {
    background-color: var(--active-color);
    color: $backgroundColor;
    border-radius: 10px;
    border: 2px solid var(--active-color);
    padding: 1rem;

    ::selection {
        color: $backgroundColor;
        background: var(--active-color);
        border-radius: 4px;
    }

    .checkbox:hover,
    .radio:hover {
        color: $textColor;
    }
}

.footer {
    border-top: 2px solid #245494;
    background-color: #7ca7df;
}

.is-owerflow-auto {
    overflow: auto;
}

.is-word-break-all {
    word-break: break-all;
}

#password-settings-shortcut {
    border-radius: 6px;
}

input {
    +span.toggle {
        position: relative;
        display: inline-block;
        height: 24px;
        width: 40px;
        margin-bottom: -6px;
        margin-left: -24px;
        background: $backgroundColorLight;
        border-radius: 100vh;
        color: var(--active-color);

        &:before {
            content: " ";
            position: absolute;
            top: 4px;
            left: 4px;
            right: auto;
            height: 16px;
            width: 16px;
            background: #bbb;
            border-radius: 100vh;
            transition: all 0.4s ease-in-out;
        }
    }

    &[type=radio] {
        &:checked {
            border-color: var(--active-color);
        }

        appearance: none;
        /* Rimuove lo stile predefinito */
        width: 14px;
        height: 14px;
        border: 1px solid #bbb;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:checked::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: var(--active-color);
            border-color: var(--active-color);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:checked+span.toggle:before {
        left: 20px;
        background: var(--active-color);
        transition: all 0.4s ease-in-out;
    }
}